.detailContainer {
  width: 80%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px 10px 0px 10px;
}

.detailContainer__date {
  margin-bottom: 10px;
}

.detailContainer__description {
  margin: 0px 0px 20px 0px;
  font-size: 30px;
}

.tempContainer--detail__reading {
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.tempContainer--detail__temp {
  font-size: 50px;
  margin: 0px;
}

.iconContainer--detail {
  width: 35%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0px;
}

.tempContainer--detail {
  display: flex;
  flex-flow: row nowrap;
  list-style-type: none;
  width: 60%;
  height: 200px;
  justify-content: center;
  padding: 0px
}

.envContainer--detail {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  height: 150px;
  width: 40%;
  padding: 0px;
  justify-content: center;
  margin: 0px;
}

.envContainer--detail__reading {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.envContainer--detail__header {
  margin: 0px 0px 5px 0px;
}

@media all and (max-width: 1100px) {
  .iconContainer--detail__svg {
    width: 120px;
  }

  .detailContainer__description {
    font-size: 26px;
  }
}


@media all and (max-width: 750px) {
  .tempContainer--detail {
    width: 100%;
    height: 100px;
  }

  .tempContainer--detail__temp {
    font-size: 36px;
  }

  .tempContainer--detail__heading {
    font-size: 24px;
    margin: 0px;
  }

  .iconContainer--detail__svg {
    width: 80px;
  }

  .detailContainer__description {
    margin: 0px;
    font-size: 20px;
  }

  .envContainer--detail {
    height: 100px;
    width: 100%;
  }

  .detailContainer__date {
    font-size: 26px;
  }
}

@media all and (max-width: 750px) and (orientation: landscape) {
  .detailContainer {
    width: 60%;
    height: 75%;
  }
}
