.dataContainer {
  height: 90%;
  width: 80%;
}

.locationHeader {
  padding-top: 100px;
  margin: 0px;
}

.dataContainer--current {
  height: 45%;
  width: 100%;
  position: relative;
  text-align: center;
}

.dataContainer--5day {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  height: 50%;
  width: 100%;
}

.dataDisplay {
  display: inline-block;
  height: 250px;
  width: 19%;
  background-color: rgba(202, 235, 242, 0.6);
  box-shadow: 1px 2px 5px 0px rgba(50, 50, 50, 0.5);
  margin-bottom: 2px;
  position: relative;
}

.dataDisplay__mask {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
    &:hover {
      background-color: rgba(100, 214, 238, 0.5);
    }
}

.dataDisplay--large {
  height: 58%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  display: flex;
  flex-flow: row nowrap;
}

@media all and (max-width: 1100px) {
  .dataDisplay {
    width: 30%;
    height: 195px;
  }

  .dataContainer--5day {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
}

@media all and (max-width: 1100px) and (orientation: landscape) {
  .locationHeader {
    padding-top: 75px;
  }

  .dataContainer--5day {
    height: 52%;
  }

  .dataDisplay {
    height: 179px;
  }

  .dataDisplay--large {
    height: 65%;
  }
}

@media all and (max-width: 750px) {

  .locationHeader {
    padding-top: 105px;
  }

  .dataDisplay {
    width: 100%;
    height: 25%;
    display: flex;
    flex-flow: row nowrap;
  }

  .dataContainer {
    width: 98%;
    height: 98%;
  }

  .dataContainer--current {
    height: 40%;
  }

  .dataContainer--5day {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 60%;
  }

  .dataDisplay--large {
    height: 50%;
  }
}

@media all and (max-width: 750px) and (orientation: landscape) {
  .locationHeader {
    font-size: 20px;
    padding-top: 55px;
  }

  .dataDisplay--large {
    height: 40%;
  }
}

@media all and (max-width: 400px) {
  .locationHeader {
    font-size: 24px;
    padding-top: 100px;
  }
}
