.header--home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0px 10px 0px 10px;
}

.header--home__h1 {
  margin: 0px;
  font-size: 26px;
  text-align: center;
}
