.mainSearch {
  text-align: center;
}

.mainSearch__textinput {
  width: 350px;
  height: 35px;
  border-radius: 4px;
  margin-top: 20px;
}

.mainSearch__submitbtn--large {
  height: 50px;
  width: 150px;
  margin-top: 20px;
  border-radius: 5px;
  // border-style: none;
}
