.secondarySearch {
  display: inline-block;
  width: 100%;
  margin: 0px;
}

.secondarySearch__textinput {
  width: 250px;
  height: 30px;
  border-radius: 4px;
  right: -5px;
  position: relative;
  z-index: 100;
  transition: width ease-in;
}

.secondarySearch__submitbtn {
  height: 35px;
  width: 110px;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
  z-index: 1000;
}

@media all and (max-width: 550px) and (orientation: portrait) {
  .secondarySearch__textinput {
    right: 11px;
    width: 0%;
  }

  .secondarySearch__textinput--active {
    width: 60%;
  }

  .secondarySearch__submitbtn {
    right: 17px;
    font-size: 13px;
    width: 88px;
    margin: 0px;
  }
}
