.tempContainer {
  list-style-type: none;
  width: 100%;
  height: 25%;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-flow: row nowrap;
}

.tempContainer__reading {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
  padding-bottom: 4px;
}

.tempContainer__heading {
  margin-bottom: 0px;
  margin-top: 0px;
}

@media all and (max-width: 750px) {
  .tempContainer {
    width: 30%;
    height: 100%;
    padding-right: 5px;
    font-size: 15px;
  }

  .tempContainer__reading {
    justify-content: center;
    padding-bottom: 0px;
  }

  .tempContainer__heading {
    font-size: 14px;
  }

  .tempContainer__reading p {
    font-size: 12px;
  }
}

@media all and (max-width: 700px) and (orientation: landscape) {
  .tempContainer__reading {
    font-size: 12px;
  }

  .tempContainer__reading p {
    font-size: 11px;
  }
}
